html {
    margin-top: 2%;
    margin-left: 14%;
    margin-right: 14%;
    margin-bottom: 5%;
    zoom:100%;
    background-color: #edf0f4;
}
strong {
    font-weight: 600;
}
article {
    font: 400 18px/1.5 "Hind Siliguri",Roboto,Helvetica,Arial,sans-serif;
    color: #111;
    word-spacing: 0.5px;
}
h1 {
    font-size: 36px;
    color: #011F5B;
    margin-bottom: 0.5%;
}

h1,h2,h3,h4 {
    font-weight: 500;
}

body {
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    display: flex;
    min-height: 100vh;
    flex-direction: column
}

a.pub {
    color: #d43515;
    text-decoration: none;
}

a.pub:hover {
    color: #990000;
    text-decoration: underline;
}


a {
    color: #0c5fac;
    text-decoration: none;
}

a:hover {
    color: #003699;
    text-decoration: underline;
}

span.email {
    border: solid black 1px;
    font: 400 14px "Reddit Mono", monospace;
    color: hsl(0, 0%, 0%);
    background-color: #025fff2a;
    padding: 6px;
    border-radius: 6px;
    margin-bottom: 1px;
    /* pointer-events: none; */
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
span.email:hover {
    cursor: pointer;
    text-decoration: none;
}

span.email:active {
    background-color: #0245ff3c;
}

#copyText {
    display: none;
    color:rgb(13, 26, 86)
}

#id2 {
    display: none;
}