html {
    margin-top: 2%;
    margin-left: 14%;
    margin-right: 14%;
    margin-bottom: 5%;
    zoom:100%;
    background-color: #ffffff;
}
strong {
    font-weight: 600;
}
article {
    font: 200 17px/1.5 "Hind Siliguri",Roboto,Helvetica,Arial,sans-serif;
    color: #111;
    word-spacing: 0.5px;
}
h1 {
    font-size: 32px;
    color: #011F5B;
    margin-bottom: 0.5%;
}

h1,h2,h3,h4 {
    font-weight: 500;
}

body {
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    display: flex;
    min-height: 100vh;
    flex-direction: column
}

a.arxiv {
    color: #d43515;
    text-decoration: none;
}

a.arxiv:hover {
    color: #990000;
    text-decoration: underline;
}

a.journal {
    color:initial;
    font-style: italic;
}

a.journal:hover {
    color:initial;
    text-decoration: underline;
}


a {
    font-weight: 400;
    color: #0086a4;
    text-decoration: none;
}

a:hover {
    color: #016981;
    text-decoration: underline;
}

span.email {
    border: solid black 1px;
    font: 400 14px "Reddit Mono", monospace;
    color: hsl(0, 0%, 0%);
    background-color: #02ffea2a;
    padding: 6px;
    border-radius: 6px;
    margin-bottom: 1px;
    /* pointer-events: none; */
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
span.email:hover {
    cursor: pointer;
    text-decoration: none;
}

span.email:active {
    background-color: #02ffea51;
}

#copyText {
    display: none;
}

#id2 {
    display: none;
}

img {
    border-radius: 20%;
    display: flex;
    margin: 1.5%;
    border: solid rgb(46, 46, 46) 1px;
}

hr.thick {
    height: 0px;
    border: none;
    border-top: 1.5px solid black;
}
hr {
    height: 0px;
    border: none;
    border-top: 1px solid black;
}
