<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="google-site-verification" content="9Nk-1-VExk76wofq2iwLhm_6Hjs2Ycfu2gkl8wxVsJ8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ashwin Padaki</title>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Reddit+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-9ELGBSH3P5"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-9ELGBSH3P5');
    </script>
</head>

<body>
<div class="ml-[8%] mr-[8%] lg:ml-[18%] lg:mr-[18%] mt-6 mb-10 font-main text-sm md:text-base lg:text-base">
    <!-- Header -->
        <header class="mb-4 lg:mb-0 text-right">
            <a class="hover:underline text-teal-600" target="_blank" rel="noopener noreferrer" href="files/AP_single_page.pdf">resume</a>
        </header>

        <!-- Title -->
        <h1 class="mt-4 text-3xl lg:text-4xl text-center">Ashwin Padaki</h1>
        <center class="mt-4 select-text">
            <code class="text-sm text-pink-800 bg-pink-100 p-2 rounded pointer-events-none select-all">
                apadaki (at) seas.upenn.edu
            </code>
        </center>

        <!-- Profile Section -->
        <div class="mt-6">
            <img class="float-left mt-2 mr-8 lg:mr-16 lg:mb-4 w-28 md:w-40 lg:w-44 rounded-lg border border-black lg:border-2" 
            src="./files/img/profile.jpg"/> 
            <p class="mt-8">
                I am a first-year Computer Science PhD student at the 
                <a class="hover:underline text-blue-600" target="_blank" rel="noopener noreferrer" href="https://theory.cis.upenn.edu/people/">University of Pennsylvania</a> 
                advised by 
                <a class="hover:underline text-blue-600" target="_blank" rel="noopener noreferrer" href="http://www.cis.upenn.edu/~sanjeev/">Sanjeev Khanna</a> 
                and 
                <a class="hover:underline text-blue-600" target="_blank" rel="noopener noreferrer" href="https://sites.google.com/site/erikwaing/home/">Erik Waingarten</a>. My research is in theoretical computer science, and I'm broadly interested in the design of sublinear algorithms for modern computational problems such as clustering and nearest neighbor search. Feel free to reach out if our interests align!
            </p>
            <p class="mt-5">
                Before Penn, I studied Math and Computer Science at 
                <a class="hover:underline text-blue-600" target="_blank" rel="noopener noreferrer" href="https://theory.cs.columbia.edu/">Columbia University</a>. 
                I was fortunate to have amazing mentors like 
                <a class="hover:underline text-blue-600" target="_blank" rel="noopener noreferrer" href="https://joshalman.com/">Josh Alman</a>, 
                <a class="hover:underline text-blue-600" target="_blank" rel="noopener noreferrer" href="https://cskarthikcs.github.io/">Karthik C. S.</a>, 
                and 
                <a class="hover:underline text-blue-600" target="_blank" rel="noopener noreferrer" href="https://www.cs.columbia.edu/~rocco/">Rocco Servedio</a>.
            </p>
            <p class="mt-5">
                I am fortunate to be supported by an 
                <a class="hover:underline text-blue-600" target="_blank" rel="noopener noreferrer" href="https://www.nsfgrfp.org/">NSF Graduate Research Fellowship</a>.
            </p>
        </div>

        <hr class="mt-10" />

        <!-- Research Section -->
        <h2 class="text-2xl mt-14">Research</h2>
        <ul class="list-disc pl-10 mt-3">
            <li>
                <strong>Inapproximability of Maximum Diameter Clustering for Few Clusters</strong><br />
                with Karthik C. S., Henry Fleischmann, Kyrylo Karlov, Styopa Zharkov<br />
                <a class="hover:underline text-red-700" target="_blank" rel="noopener noreferrer" href="https://arxiv.org/abs/2312.02097">arXiv</a> | <a class="hover:underline" target="_blank" rel="noopener noreferrer" href="https://epubs.siam.org/doi/10.1137/1.9781611978322.160"><i>SODA 2025</i></a>
            </li>
            <li>
                <strong>Smaller Low-Depth Circuits for Kronecker Powers</strong><br />
                with Josh Alman, Yunfeng Guan<br />
                <a class="hover:underline text-red-700" target="_blank" rel="noopener noreferrer" href="https://arxiv.org/abs/2211.05217">arXiv</a> | 
                <a class="hover:underline" target="_blank" rel="noopener noreferrer" href="https://epubs.siam.org/doi/10.1137/1.9781611977554.ch160"><i>SODA 2023</i></a>
            </li>
        </ul>

        <!-- Teaching Section -->
        <h2 class="text-2xl mt-10">Teaching</h2>
        <div class="mt-3">I was a teaching assistant for the following classes at Columbia:</div>
        <ul class="list-disc pl-10 mt-2">
            <li><strong>Cryptography</strong> <br />(COMS 4261, Fall 2023)</li>
            <li><strong>Computational Complexity</strong> <br />(COMS 4236, Spring 2023)</li>
            <li><strong>Real Analysis I</strong> <br />(MATH 4041, Fall 2022)</li>
        </ul>
        <div class="mt-2">
            In Fall 2023, I co-mentored a lecture series in 
            <a class="hover:underline text-blue-600" target="_blank" rel="noopener noreferrer" href="https://arxiv.org/abs/2105.10386">Boolean function analysis</a> 
            as part of the 
            <a class="hover:underline text-blue-600" target="_blank" rel="noopener noreferrer" href="https://columbia-ugtcs.github.io/fall2023.html">Columbia Undergraduate Learning Seminar in Theoretical Computer Science</a>.
        </div>

        <!-- Other Section -->
        <h2 class="text-2xl mt-10">Other</h2>
        <ul class="list-disc pl-10 mt-3">
            <li>Years ago, I interned as a quantitative trader at <a class="hover:underline text-blue-600" target="_blank" rel="noopener noreferrer" href="https://optiver.com/">Optiver</a>, an options market-making firm in Chicago.</li>
            <li>Outside of research, I like playing soccer and tennis, going on long walks and hikes, making music, and experimenting with wordplay.</li>
        </ul>
    </div>
</body>
</html>