<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="google-site-verification" content="9Nk-1-VExk76wofq2iwLhm_6Hjs2Ycfu2gkl8wxVsJ8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ashwin Padaki</title>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&family=Reddit+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-9ELGBSH3P5"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-9ELGBSH3P5');
    </script>
</head>

<body>
    <div class="ml-[8%] mr-[8%] lg:ml-[16%] lg:mr-[16%] 2xl:ml-[30%] 2xl:mr-[30%] mt-6 mb-10 font-main text-sm md:text-base lg:text-base">
    <!-- Header -->
    <header class="mb-4 lg:mb-0 text-right">
            <a class="no-underline transition-colors duration-200 hover:brightness-125 text-indigo-400" href="/">home</a> &nbsp; 
            <!-- <a class="no-underline transition-colors duration-200 hover:brightness-125 text-indigo-400" href="/blog">blog</a> &nbsp; -->
            <a class="no-underline transition-colors duration-200 hover:brightness-125 text-indigo-400 " target="_blank" rel="noopener noreferrer" href="/files/Ashwin_Padaki_CV.pdf">cv</a>
        </header>

        <!-- Title -->
        <h1 class="mt-8 text-3xl lg:text-4xl text-center">Ashwin Padaki</h1>
        <center class="mt-4 select-text">
            <code class="text-sm text-pink-800 bg-pink-100 p-2 rounded pointer-events-none select-all">
                apadaki (at) seas.upenn.edu
            </code>
        </center>

        <!-- Profile Section -->
        <div class="mt-6">
            <img class="float-left mt-2 mr-8 lg:mr-16 lg:mb-4 w-28 md:w-40 lg:w-44 rounded-lg border border-black lg:border-2" 
            src="./files/img/profile.jpg"/> 
            <p class="mt-8">
                I am a first-year Computer Science PhD student at the 
                <a class="no-underline transition-colors duration-200 hover:brightness-125 text-sky-600  " target="_blank" rel="noopener noreferrer" href="https://theory.cis.upenn.edu/people/">University of Pennsylvania</a>, where I am lucky to be
                advised by 
                <a class="no-underline transition-colors duration-200 hover:brightness-125 text-sky-600 " target="_blank" rel="noopener noreferrer" href="http://www.cis.upenn.edu/~sanjeev/">Sanjeev Khanna</a> 
                and 
                <a class="no-underline transition-colors duration-200 hover:brightness-125 text-sky-600 " target="_blank" rel="noopener noreferrer" href="https://sites.google.com/site/erikwaing/home/">Erik Waingarten</a>. My work is in theoretical computer science, and I'm broadly interested in the design of sublinear algorithms for processing massive, high-dimensional data.
            </p>
            <p class="mt-5">
                Before Penn, I studied Math and Computer Science at 
                <a class="no-underline transition-colors duration-200 hover:brightness-125 text-sky-600 " target="_blank" rel="noopener noreferrer" href="https://theory.cs.columbia.edu/">Columbia University</a>. 
                I was fortunate to have amazing mentors in 
                <a class="no-underline transition-colors duration-200 hover:brightness-125 text-sky-600" target="_blank" rel="noopener noreferrer" href="https://joshalman.com/">Josh Alman</a>, 
                <a class="no-underline transition-colors duration-200 hover:brightness-125 text-sky-600 " target="_blank" rel="noopener noreferrer" href="https://cskarthikcs.github.io/">Karthik C. S.</a>, 
                and 
                <a class="no-underline transition-colors duration-200 hover:brightness-125 text-sky-600 " target="_blank" rel="noopener noreferrer" href="https://www.cs.columbia.edu/~rocco/">Rocco Servedio</a>.
            </p>
            <p class="mt-5">
                My research is supported by an 
                <a class="no-underline transition-colors duration-200 hover:brightness-125 text-sky-600 " target="_blank" rel="noopener noreferrer" href="https://www.nsfgrfp.org/">NSF Graduate Research Fellowship</a>.
            </p>
        </div>

        <hr class="mt-10" />

        <!-- Research Section -->
        <h3 class="text-lg mt-10">Preprints</h3>
        <ul class="list-disc pl-10 mt-3">
            <li>
                <a class="hover:underline font-bold" target="_blank" rel="noopener noreferrer" href="https://www.arxiv.org/abs/2507.14060">Sparse Navigable Graphs for Nearest Neighbor Search: Algorithms and Hardness</a><br />
                <span class="text-slate-700">with Sanjeev Khanna, Erik Waingarten</span><br />
            </li>
        </ul>

        <h3 class="text-lg mt-6">Publications</h3>
        <ul class="list-disc pl-10 mt-3">
            <li>
                <a class="hover:underline font-bold" href="./">A Polynomial Space Lower Bound for Diameter Estimation in Dynamic Streams</a><br />
                <span class="text-slate-700">with Sanjeev Khanna, Krish Singal, Erik Waingarten</span><br />
                <a class="no-underline transition-colors duration-200 hover:brightness-125 text-red-600 " target="_blank" rel="noopener noreferrer" href="https://focs.computer.org/2025/accepted-papers/">FOCS 2025</a>
            </li>
            <li class="mt-2">
                <a class="hover:underline font-bold" target="_blank" rel="noopener noreferrer" href="https://arxiv.org/abs/2312.02097">Inapproximability of Maximum Diameter Clustering for Few Clusters</a><br />
                <span class="text-slate-700">with Karthik C. S., Henry Fleischmann, Kyrylo Karlov, Styopa Zharkov</span><br />
                <a class="no-underline transition-colors duration-200 hover:brightness-125 text-red-600 " target="_blank" rel="noopener noreferrer" href="https://epubs.siam.org/doi/10.1137/1.9781611978322.160">SODA 2025</a>
            </li>
            <li class="mt-2">
                <a class="hover:underline font-bold" target="_blank" rel="noopener noreferrer" href="https://arxiv.org/abs/2211.05217">Smaller Low-Depth Circuits for Kronecker Powers</a><br />
                <span class="text-slate-700">with Josh Alman, Yunfeng Guan</span><br />
                <a class="no-underline transition-colors duration-200 hover:brightness-125 text-red-600 " target="_blank" rel="noopener noreferrer" href="https://epubs.siam.org/doi/10.1137/1.9781611977554.ch160">SODA 2023</a>
            </li>
        </ul>
    
    <hr class="mt-10"/>

                <!-- Other Section -->
    <h3 class="text-lg mt-10">Other</h3>
    <ul class="list-disc pl-10 mt-3">
        <li>Years ago, I interned as a quantitative trader at <a class="no-underline transition-colors duration-200 hover:brightness-125 text-sky-600" target="_blank" rel="noopener noreferrer" href="https://optiver.com/">Optiver</a>, an options market-making firm in Chicago.</li>
        <li>Outside of research, I like playing soccer and tennis, going on long walks and hikes, making music, and experimenting with wordplay.</li>
    </ul>

</body>
</html>